{% extends 'authentication/base.html' %}

{% block content %}
<style>
    .box {
        box-shadow: 5px 10px 18px #888888;
        border-radius: 5px;
        margin-left: 15%;
        margin-top: 10%;
        width: 70%;
        height: 80%;
        align-content: center;
        align-items: center;
    }
</style>
<div class="box">
    <div class="limiter" style="padding: 10%;">
        <div class="container wrapper">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-26">
                    Please Enter the following detials-
                </span>
                <form class="login100-form validate-form" action="/director-detail/" method="post">
                    {% csrf_token %}
                    <div class="wrap-input100 validate-input">
                        <input id="companyname" class="input100" type="text" name="companyname" required="True">
                        <span class="focus-input100" data-placeholder="Company Name"></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <input id="email" class="input100" type="email" name="email" required="True">
                        <span class="focus-input100" data-placeholder="Email"></span>
                    </div>
                    <div class="wrap-input100 validate-input">
                        <input id="zones" class="input100" type="number" name="zones" required="True">
                        <span class="focus-input100" data-placeholder="Number of Zones"></span>
                    </div>
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Next
                            </button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
{% endblock  %}